html {
	box-sizing: border-box;
	font-size: calc(1em + 1vw);
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-feature-settings: 'kern', 'liga', 'clig';
	font-variant: common-ligatures;
}
