<%- include('../partials/head') %>

<h1>Real-time baby, yeah</h1>

<ul id="messages"></ul>
<form action="">
	<label for="message">Your message</label>
  <input type="text" id="message" autocomplete="off">
  <button type="submit">Send</button>
</form>

<%- include('../partials/foot') %>
